<a href="https://colab.research.google.com/github/harshithstark37/ML/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. numpy
3. matplotlib
4. scikit learn

|Data Science Tools|
|------------------|
|RStudio|
|Jupyter Notebook|
|Apache Spark|
|Hive|
|Apache Hadoop|
|Google colab|
|TensorFlow|

 ### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
a = 2
b = 4
c = a+b
print(c)

6

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
print("200 min is", 200/60)

200 min is 3.3333333333333335

## Author
Harshith